<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FSVenues.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A3C0F061CF39221002DA677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AB9EFED1BF637D1008B616C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AB9F0011BF637D1008B616C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AFA6A831CF380F3003FD5AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
